{% extends 'base.html' %}
{% block content %}
<section>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-4x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div><h3>{{title}}</h3></div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="listDriver" class="data-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Commercial Name</th>
                        <th>License Number</th>
                        <th>Address</th>
                        <th>Last Update</th>
                        <td>Action</td>

                    </tr>
                    </thead>
                    <tbody>
                    {% for l in object_list %}
                    <tr{% if l.state == "Request" %} class="warning" {% endif %}  {% if l.state == "Rejected" %} class="danger" {% endif %} {% if l.state == "Approved" %} class="success" {% endif %}>
                        <td>{{l.fullname}}</td>
                        <td>{{l.company_name}}</td>
                        <td>{{l.license_numb}}</td>
                        <td>{{l.address}}</td>
                        <td>{{l.update}}</td>

                        <td>
                            {% if perms.services.change_application %}
                            <toolbar class="md-accent">
                                <a data-type="info" data-trigger="focus" title="Review Application" data-animation="am-flip-x" type="button" class="btn btn-primary test-tooltip glyphicon glyphicon-edit" href="{% url 'application:apply_edit' l.id_apl %}">
                                </a>
                            </toolbar>
                            {% endif %}
                            {% if perms.services.delete_application %}
                            <toolbar class="md-accent">
                                <a data-type="info" data-animation="am-flip-x" data-trigger="focus" title="Delete Application" type="button" class="btn btn-danger test-tooltip glyphicon glyphicon-trash" href="{% url 'application:apply_delete' l.id_apl %}">
                                </a>
                            </toolbar>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <a type="button" onclick="history.back(-1)">
                <i class="fa fa-arrow-circle-left fa-3x"></i>
            </a>
        </div>
    </div>
</section>
{% endblock %}