{% extends 'base.html' %}
{% block extrastyle %}
<script type="text/javascript">
    $(document).ready( function () {
       $("#select").on('hidden.bs.modal', function () {
            location.reload();
    });
    });
</script>

{% endblock %}
{% block content %}
<section>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-users fa-4x"></i>
                </div>
                <div class="col-md-offset-4">
                    <div><h3>{{ title }}</h3></div>
                </div>
            </div>
        </div>
        <form name="form_customer" method="post" class="form" role="form" id="form_customer">{% csrf_token %}
            <div class="panel-body">

                <!-- Form Name -->
                <!-- Text input-->
                {% if not is_popup %}
                <div class="form-group col-md-3 col-md-offset-1">
                    <label class="label-control">Busines:</label>
                    <select class="selectpicker" id="business_id" name="business" required multiple>
                           {% for b in busines %}
                            <option value="{{b.id_bus}}">{{b}}</option>
                            {% endfor %}
                        </select>
                </div>
                {% else %}
                <div class="form-group col-md-4 col-md-offset-1" >
                    <label class="label-control">Customer:</label>
                    <div><a href="{% url 'accounting:customer_view' customers.id_cut %}">{{customers.fullname}}</a>
                    </div>
                </div>
                {% endif %}
                <div class="form-group col-md-4 col-md-offset-1" >
                    <label class="label-control">First and Last Name:</label>
                    <div>{{customer.fullname}}</div>
                </div>
                <!-- Text input-->
                <div class="form-group col-md-4 col-md-offset-1">
                    <label class="label-control">Company Name:</label>
                    <div>{{ customer.company_name }}</div>
                </div>
                <!-- Select Basic -->
                <div class="form-group col-md-4 col-md-offset-1">
                    <label class="label-control">Address:</label>
                    <div>{{ customer.address }}</div>
                </div>
                <div class="form-group col-md-3 col-md-offset-1">
                    <label class="label-control">Phone:</label>
                    <div>{{ customer.phone }}</div>
                </div>
                <div class="form-group col-md-4 col-md-offset-1">
                    <label class="label-control">Email:</label>
                    <div>{{ customer.email }}</div>
                </div>
                <div class="form-group col-md-3 col-md-offset-1">
                    <label class="label-control">USDOT:</label>
                    <div>{{ customer.usdot }}</div>
                </div>
                <div class="form-group col-md-3 col-md-offset-1">
                    <label class="label-control">MC:</label>
                    <div>{{ customer.mc }}</div>
                </div>
                <div class="form-group col-md-3 col-md-offset-1">
                    <label class="label-control">Texas DMV:</label>
                    <div>{{ customer.txdmv }}</div>
                </div>
                <div class="col-md-12">
                    <p class="bg-primary text-center">CUSTOMER SERVICES</p>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs " role="tablist">
                                {% for s in services %}
                                <li id="tab{{s.servicesaplic.service}}" role="presentation"><a href="#{{s.servicesaplic.service}}" aria-controls="{{s.servicesaplic.service}}" role="tab" data-toggle="tab">{{s.servicesaplic.description}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div  class="tab-content">
                                {% if company %}
                                <div role="tabpanel" class="tab-pane fade" id="new_company">

                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Name Option 1</label>
                                            {{company.name1}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Name Option 2</label>
                                            {{company.name2}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Name Option 3</label>
                                            {{company.name3}}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>License Driver Number</label>
                                            {{company.licdriver}}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if ifta %}
                                <div role="tabpanel" class="tab-pane fade" id="ifta">
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>RT Code</label>
                                            <div class="input-group">
                                                <samp class="input-group-addon">RT</samp>
                                                {{ifta.rtcode}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Bank Name</label>
                                            {{ifta.namebank}}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Rooting Number</label>
                                            {{ifta.rootingnumb}}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Account Number</label>
                                            {{ifta.accountnumb}}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if driver or vehicle %}
                                <div role="tabpanel" class="tab-pane fade" id="insurance">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="table-responsive">
                                            <h4><span class="label label-primary">Drives</span></h4>
                                            <table id="driver_table" class="table">
                                                <thead>
                                                <tr>
                                                    <th class=" text-center col-md-3">Name</th>
                                                    <th class=" text-center col-md-2">License Driver</th>
                                                    <th class="text-center col-md-2">Date Expired</th>
                                                    <th class="text-center col-md-2">DOB</th>
                                                    <th class="text-center col-md-1">Experience</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for form in driver %}
                                                <tr>
                                                    <td>{{form.name}}</td>
                                                    <td>{{form.license_numb}}</td>
                                                    <td>{{form.lic_date_exp}}</td>
                                                    <td>{{form.dob}}</td>
                                                    <td>{{form.experience}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="table-responsive">
                                            <h4><span class="label label-primary">Vehicles</span></h4>
                                            <table id="second_table" class="table">
                                                <thead>
                                                <tr>
                                                    <th class=" text-center col-md-2">Type</th>
                                                    <th class=" text-center col-md-2">Year</th>
                                                    <th class="text-center col-md-2">Marke</th>
                                                    <th class="text-center col-md-3">VIN Number</th>
                                                    <th class="text-center col-md-1">Owned</th>
                                                    <th class="text-center col-md-1">Leased</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for form in vehicle %}
                                                <tr>
                                                    <td>{{form.type}}</td>
                                                    <td>{{form.year}}</td>
                                                    <td>{{form.marke}}</td>
                                                    <td>{{form.vin}}</td>
                                                    <td>{{form.owned}}</td>
                                                    <td>{{form.leased}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                {% endif %}
                                {% if audit %}
                                <div role="tabpanel" class="tab-pane fade" id="audit">

                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>USDOT PIN Number</label>
                                            {{audit.usdotpin}}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>USDOT Number</label>
                                            {{audit.usdotnumb}}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Number of Units</label>
                                            {{audit.unitnumb}}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Number of Driver</label>
                                            {{audit.drivernumb}}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Name of Auditor</label>
                                            {{audit.auditormane}}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Address of Audit</label>
                                            {{audit.auditaddress}}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Date of Audit</label>
                                            <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                {{audit.date}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if apportions %}
                                <div role="tabpanel" class="tab-pane fade" id="apportioned">

                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Company EIN Number</label>
                                            {{apportioned.companyein}}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Number of Unit</label>
                                            {{apportioned.unitnumb}}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>VIN Number</label>
                                            {{apportioned.vin}}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>IRP Account Number</label>
                                            {{apportioned.irpacount}}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if dispatch %}
                                <div role="tabpanel" class="tab-pane fade" id="dispatch">
                                    <div class="col-xs-4 col-sm-3 col-md-2 col-sm-offset-1 nopad text-center">
                                        <label class="image-checkbox">Flatbead</label>
                                        {% if dispatch.flatbead %}
                                        <div>
                                            <span class="label label-success">Yes</span>
                                        </div>
                                        {% else %}
                                        <div>
                                            <span class="label label-dange">Not</span>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-md-2 col-sm-offset-1 nopad text-center">
                                        <label class="image-checkbox">Van</label>
                                        {% if dispatch.van %}
                                           <div>
                                            <span class="label label-success">Yes</span>
                                        </div>
                                        {% else %}
                                        <div>
                                            <span class="label label-dange">Not</span>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-md-2 col-sm-offset-1 nopad text-center">
                                        <label class="image-checkbox">Refer</label>
                                        {% if dispatch.refer %}
                                          <div>
                                            <span class="label label-success">Yes</span>
                                        </div>
                                        {% else %}
                                        <div>
                                            <span class="label label-dange">Not</span>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-md-2 col-sm-offset-1 nopad text-center">
                                        <label class="image-checkbox">Others </label>
                                        {% if dispatch.other%}
                                         <div>
                                            <span class="label label-success">Yes</span>
                                        </div>
                                        {{dispatch.otherdescrp}}
                                        {% else %}
                                        <div>
                                            <span class="label label-dange">Not</span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <p class="bg-primary text-center">CUSTOMER FILES</p>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        {% regroup files by category as grouped %}
                        {% for category in grouped %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="H-{{category.grouper}}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{category.grouper}}" aria-controls="collapseOne">
                                        {{category.grouper}}
                                    </a>
                                </h4>
                            </div>
                            <div id="{{category.grouper}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="H-{{category.grouper}}">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped data-table">
                                            <thead>
                                            <th>Name</th>
                                            <th>Creative user </th>
                                            <th>Up load Date</th>
                                            <th>Category</th>
                                            </thead>
                                            <tbody>
                                            {% for f in category.list %}
                                            <tr>
                                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a href="/static/media/{{ f.url }}" target="_blank">{{f.name}}</br></a></td>
                                                <td>{% if f.users.first_name %} {{ f.users.first_name }} {% else %} {{ f.users }} {% endif %}</td>
                                                <td>{{ f.date_save }}</td>
                                                <td>{{ f.category }}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <p class="bg-primary text-center">PAYMENT INFORMATION</p>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="form-group">
                                <label>Name on de Card</label>
                                {{payment.namecard}}
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="form-group">
                                <label>Crad Number</label>
                                {{payment.credicard}}
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="form-group">
                                <label>Card Expiration Date</label>
                                {{payment.expdate}}
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="form-group">
                                <label>Card Security Code</label>
                                {{payment.securitycode}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel-footer">
               {% if not is_popup %}
                <input class="col-sm-offset-11 btn btn-success" type="submit" data-dismiss="modal" value="Process">
                {% else %}
                   <input class="col-sm-offset-11 btn btn-success" type="button" data-dismiss="modal" value="OK">
                {% endif %}
            </div>
        </form>
    </div>
</section>
{% endblock %}